---
import RecomendationCard from "../components/recomendation-card.astro";
import AllCard from "../components/all-card.astro";
import CountDown from "../components/countdown";
import { ALL_IN_ONE, customConfig, MAKE_IT_HAPPEN, MEDIA_IMAGES, MEDIOS_IMAGES } from "../config/lists";
import MediaLogos from "../components/media-logos.astro";
import WelcomeForm from "../components/form";
import Carrousel from "../components/carrousel";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/x-icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Shareflow</title>
	</head>
	<body>
		<header>
			<div class="m-auto pt-16 pb-8 px-8 max-w-[1580px]">
				<div class="flex justify-between mb-16">
					<img src="logo.svg" class="w-[210px] h-auto" />
					<div class="hidden md:block">
						<CountDown client:only="react" />
					</div>
				</div>
				<h1 class="text-6xl font-medium mb-4">
					Tu <span class="text-primary">agencia de medios</span> a un clic
					de distancia
				</h1>
				<img src="iphone.svg" class="w-[380px] mb-5 mx-auto" />

				<p class="font-medium mb-8">
					Shareflow, es la primer plataforma de Colombia donde podrás<span
						class="text-primary"
						>planear, comprar y hacer seguimiento</span
					> a la pauta en los medios y plataformas digitales más importantes
					del país.
				</p>

				<WelcomeForm
					text="Crea tu primera campaña"
					client:only="react"
				/>
			</div>
		</header>
		<section class="bg-[#1E1E1E]">
			<div class="pt-16 px-8 flex flex-col items-center max-w-md m-auto">
				<h3 class="text-white text-2xl mb-8">
					Podrás estar en los <span class="text-primary"
						>principales medios</span
					> y plataformas
				</h3>
				<img src="video.png" class="w-[300px]" />
			</div>
			<div class="w-full max-w-[1000px] mx-auto">
				<Carrousel client:only="react" images={MEDIOS_IMAGES} config={customConfig} />
			</div>
		</section>
		<section>
			<div class="max-w-[1280px] m-auto py-20 px-8">
				<h2 class="text-6xl font-medium mb-10 sm:text-center">
					¡Hagámoslo posible!
				</h2>
				<div class="md:flex md:gap-5">
					{
						MAKE_IT_HAPPEN.map(({ img, title, description }) => (
							<RecomendationCard
								img={img}
								title={title}
								description={description}
							/>
						))
					}
				</div>
				<WelcomeForm text="¡Inicia tu campaña!" client:only="react" />
			</div>
		</section>
		<section class="bg-secondary md:bg-white px-8">
			<div
				class="max-w-[1580px] m-auto md:bg-[#F3F3F3] md:rounded-2xl py-20 md:px-8"
			>
				<div
					class="flex items-center justify-center gap-5 mb-[80px] sm:flex-col"
				>
					<img
						src="shrflow.png"
						alt="logo with user"
						class="w-[164px] md:w-[312px]"
					/>
					<h2
						class="text-white text-6xl font-medium md:text-secondary"
					>
						¡Todo en uno!
					</h2>
				</div>
				<div
					class="md:flex text-white md:text-secondary md:gap-5 md:max-w-[1230px] mx-auto"
				>
					{
						ALL_IN_ONE.map(
							({
								number,
								title,
								description_one,
								description_two,
							}) => (
								<div class="md:flex-1">
									<AllCard title={title} number={number}>
										<div slot="card-description">
											<p class="mb-5">
												{description_one}
											</p>
											<p>{description_two}</p>
										</div>
									</AllCard>
								</div>
							)
						)
					}
				</div>
				<WelcomeForm text="¡Probar ahora!" client:only="react" />
			</div>
		</section>
		<section>
			<div
				class="mx-auto px-8 py-20 flex flex-col items-center md:flex-row gap-10 max-w-[1580px]"
			>
				<picture class="md:order-1 md:min-w-[320px]">
					<source media="(min-width:1024px)" srcset="women.jpg" />
					<img src="women-2.jpg" alt="women" style="width:auto;" />
				</picture>
				<div class="relative">
					<p
						class="text-2xl lg:text-xl pl-3 before:content-[''] before:h-[100%] before:block before:left-0 before:w-[2px] before:bg-secondary before:absolute lg:pl-14"
					>
						Creemos en el <span class="text-primary"
							>marketing digital al alcance de todas las marcas</span
						>, brindando apoyo y conocimiento tecnológico accesible
						y ágil <span class="text-primary"
							>para que llegues a tus clientes potenciales.</span
						>
					</p>
				</div>
			</div>
		</section>
		<section class="bg-secondary">
			<div
				class="max-w-[1580px] mx-auto py-20 px-8 md:flex md:flex-col md:items-center"
			>
				<h2
					class="text-white text-6xl font-medium sm:text-center mb-11"
				>
					¿Quienes nos validan?
				</h2>
				<div class="md:hidden">
					<MediaLogos />
				</div>
			
					<div class="w-full max-w-[1000px] mx-auto hidden md:block">
						<Carrousel client:only="react" images={MEDIA_IMAGES} />
					</div>
			
				<div class="flex md:items-center relative flex-col">
					<img src="logo-white.svg" class="w-[210px] mb-8" />

					<div class="flex gap-10 relative mb-8">
						<p class="ml-8 hidden">Síguenos en nuestras redes:</p>
						<div
							class="flex gap-12 w-full md:items-center md:before:content-[''] md:before:h-[100%] md:before:block md:before:left-0 md:before:w-[2px] before:bg-secondary before:absolute"
						>
							<a href="">
								<img
									src="youtube.svg"
									class="w-[44px] h-auto"
								/>
							</a>
							<a href="">
								<img
									src="instagram.svg"
									class="w-[30px] h-auto"
								/>
							</a>
							<a href="">
								<img
									src="linkedin.svg"
									class="w-[30px] h-auto"
								/>
							</a>
						</div>
					</div>
				</div>
				<p class="text-[11px] text-white">
					Shareflow® es una marca registrada de Xpand Group S.A.S.
				</p>
			</div>
		</section>
	</body>
</html>
