---
const {title, description, img} = Astro.props
---

<div class='mb-[40px] max-w-[400px] mx-auto md:flex-1 rounded-xl md:mb-0'>
    <picture class="bg-[#980ff7] flex justify-center rounded-xl mb-[12px] overflow-hidden">
        <source media="(min-width:768px)" srcset={img} />
        <img src={`mobile-${img}`}  alt={title} style="width:auto;" />
    </picture>
    <h4 class='font-ceraBold mb-[12px] text-primary text-[25px] leading-[35px] md:text-[20px]'>{title}</h4>
    <p class="font-helvetica text-[15px] leading-[20px]">{description}</p>
</div>